
<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.input :description %>
  <label for="ingredient_name">Ingredient:</label>
  <input type="text" name='ingredient_name'>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
