.container {
    margin: auto;
}

.cocktail_card {
    text-align: center;
    margin-top: 30px;
}

.cocktail_name {
    text-align: center;
    margin: 20px;
    background-color: white;
    margin: 50px;
    border-radius: 10px
}
